$font-primary: 'Space Grotesk', Arial, Helvetica, sans-serif;
$font-mono: 'Space Mono', monospace;

$black: #000;
$white: #fff;
$gray: #888;

$border-width-1x: 1px;
$border-width-2x: 2px;

$trans-sm: 0.1s linear;
$trans-md: 0.25s linear;
$trans-lg: 0.5s linear;
