@use '../partials/utils' as *;

.button-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(32);
  height: rem(32);
  border: $border-width-2x solid $black;
  background-color: transparent;
  transition: background-color $trans-sm, color $trans-sm;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &__symbol {
    font-size: rem(20);
    font-weight: 700;
    line-height: 1;
  }
}
