@use '../partials/utils' as *;

.color {
  display: inline-block;
  vertical-align: top;
  width: rem(30);
  height: rem(30);
  border: $border-width-2x solid $black;
  font-size: 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transition: background-color $trans-sm;
  }

  &::before {
    top: 50%;
    left: -2px;
    right: -2px;
    margin-top: -1px;
    height: $border-width-2x;
  }

  &::after {
    top: -2px;
    left: 50%;
    bottom: -2px;
    margin-left: -1px;
    width: $border-width-2x;
  }

  &:hover:not(.color_disabled) {
    &::before,
    &::after {
      background-color: $black;
    }
  }

  &_active {
    &::before,
    &::after {
      background-color: $black;
    }
  }

  &_disabled {
    opacity: 0.2;
    cursor: default;
  }

  &_black {
    background-color: black;

    &.color_active::before,
    &.color_active::after {
      background-color: $white;
    }
  }

  &_white { background-color: white; }
  &_blue { background-color: blue; }
  &_green { background-color: green; }
  &_red { background-color: red; }
  &_yellow { background-color: yellow; }
}

.colors {
  display: flex;
  gap: rem(4);
  flex-wrap: wrap;
}
